__pycache__/
*.py[cod]
*$py.class
*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

venv/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints

.vscode/

.env
.env.*

.DS_Store
Thumbs.db

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*.log

chatmode/
